{
  "env": {
    "node": true
  },
  "extends": ["plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": ["error", { "caseSensitive": true }],
    "@typescript-eslint/no-explicit-any": 2,
    "max-classes-per-file": "off",
    "import/no-cycle": "off"
  },
  "parserOptions": {
    "project": "*/tsconfig.*?.json"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "*/tsconfig.*?.json"
      }
    }
  }
}
