{
  "extends": ["airbnb-base", "airbnb-typescript/base", "../../.eslintrc"],
  "parserOptions": {
    "project": "**/tsconfig.json"
  },
  "ignorePatterns": "*.js",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "class-methods-use-this": "off"
  }
}
